.about-card-con {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    /* Three columns with 1 part, 2 parts, and 1 part of the available space, respectively */
    /* grid-template-rows: 100px auto; */
}

@media (min-width: 768px) {
    .about-card-con {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 960px) {
    .about-card-con {
        grid-template-columns: repeat(5, 1fr);
    }
}

.about-card {
    /* border: 2px solid gold; */
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.5s;
}

.about-card:hover {
    transform: scale(1.05);
    /* Scale up the card on hover */
}

.about-card img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    /* Modern way to resize the image while preserving its aspect ratio */
}


.img-container {
    overflow: hidden;
}

.img-container>img {
    object-fit: cover;
    object-position: center center;
    height: 80px;
}

.bottom-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s;
    /* Add transition for background color change on hover */
}

.about-card:hover .bottom-content {
    background-color: #444;
}

.about-nsbm {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col {
    flex-basis: 48%;
    /* padding: 30px 2px; */
}

.about-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-col h1 {
    padding-top: 0;
}

.about-col p {
    padding: 10px 0 10px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.about-col a {
    margin: auto;
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .about-col {
        max-width: 100%;
    }

    .about-col img {
        margin-top: 20px;
    }
}